[user]
	name = toyama
	email = toyama@isc.chubu.ac.jp
	#email = toyama@lambda.phys.tohoku.ac.jp
[push]
	default = upstream
[color]
	ui = auto
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
